<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{title}} | FlikPik</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    {{#if unauthenticated}}
    <nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
    <a href="/" class="logo">FlikPik</a>
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="/" class="nav-links">Home</a>
      </li>
      <li>
        <a href="/home/signup" class="nav-links">Sign Up</a>
      </li>
      <li>
        <a href="/home/login" class="nav-links">Log In</a>
      </li>
      
    </ul>
  </nav>
  {{/if}}

  {{#unless unauthenticated}}
    <nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
    <a href="/" class="logo">FlikPik</a>
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="/home/profile" class="nav-links">Profile</a>
      </li>
      <li>
        <a href="/wantToWatchList/" class="nav-links">Want to Watch List</a>
      </li>
      <li>
        <a href="/groups/" class="nav-links">Find a Group</a>
      </li>
      <li>
        <a href="/logout" class="nav-links">Log Out</a>
      </li>
      
    </ul>
  </nav>
  {{/unless}}

    {{{body}}}

</body>
    <section class="">
  <!-- Footer -->
  <footer class="text-center text-white">
    <!-- Grid container -->
    

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <a class="text-white" href="https://mdbootstrap.com/">FlikPik</a>
       | CS 546 Spring 2021 | Created by Garrett Chestnut, Nick DiDio, Ronald Estevez, Reilley Fitzgerald, and D'Antoine Newsome
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>

</html>