* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: Black;
  background-color: #555;
}

.login-div {
  width: 500px;
  height: 600px;
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1 -13px -13px 20px #fff;
}

.signup-div {
  width: 500px;
  height: 900px;
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1 -13px -13px 20px #fff;
}

.cardTitle {
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
}

.fields {
  width: 100%;
  padding: 75px 5px 5px 5px;
}

.fields input {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  background: none;
  font-size: 18px;
  color: black;
}

.userName,
.first-name,
.last-name,
.email,
.pw {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1 -8px -8px 8px #fff;
}

.signon-button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: Verdana, Tahoma, sans-serif;
  color: #fff;
  text-align: center;
  background-color: aqua;
  transition: all 0.5s;
}

.signon-button:hover {
  background-color: chartreuse;
}

.signon-button:active {
  background-color: darkviolet;
}

.link {
  padding-top: 20px;
  text-align: center;
}

.link a {
  text-decoration: none;
  color: #aaa;
  font-size: 15px;
}

.genre-title {
  font-style: italic
}

.gone {
  display: none;
}

.appear {
  display: block;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.thumb-med {
  height: 350px;
}

.half-b {
  width: 100%;
}

#reviews {
  padding-top: 50px;
}

.spec {
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  width: 100%;
}

.error {
  color: red;
  font-weight: bold;
}

.watchList {
  align-items: flex-start;
}

.group-name {
  font-weight: bold;
}