<h1>Your Groups</h1>
<div>
    <form id="group-form" method="POST" action="/groups/create">
            <div class="groupName">
                <label for="groupname">Create New Group: </label>
                <input id="groupName" type="text" name="groupName" placeholder="Group Name" />
            </div>
            <button class="create-button" id="create-button" type="submit">Create</button>
    </form>
    <form id="join-form" method="POST" action="/groups/join">
            <div class="groupId">
                <label for="groupid">Join Existing Group: </label>
                <input id="groupId" type="text" name="groupId" placeholder="Friend's Group ID" />
            </div>
            <button class="join-button" id="join-button" type="submit">Join</button>
    </form>
</div>
<div>
    {{#if groupList}}
        <ul>
            {{#each groupList}}
            <li>{{this.name}} | Invite others with this link: Group Code: {{this.id}}</li>
            {{/each}}
        </ul>
    {{/if}}
</div>
