<h1>Your Groups</h1>
<div>
    <form id="group-form" method="POST" action="/groups/create">
            <div class="groupName">
                <label for="groupname">Create New Group!: </label>
                <input id="groupName" type="text" name="groupName" placeholder="Group Name" />
            </div>
        </form>
</div>
<div>
    {{#if groupList}}
        <ul>
            {{#each groupList}}
            <li>{{this.name}} Invite others wit this link: localhost:3000/join/{{this.id}}</li>
            {{/each}}
        </ul>
    {{/if}}
</div>
