<h1>Your Groups</h1>
<div>
    <form id="group-form" method="POST" action="/create_group">
            <div class="groupName">
                <label for="groupname">Create New Group!: </label>
                <input id="groupName" type="text" name="groupName" placeholder="Group Name" />
            </div>
        </form>
</div>
<div>
    {{#if groupList}}
        <ul>
            {{#each groupList}}
            <li>{{this.name}} with Id of: {{this.id}}</li>
            {{/each}}
        </ul>
    {{/if}}
</div>
