<div class="hero">
    <div class="navbar">
        <h1 id="welcome">WELCOME TO FLIKPIK</h1>
        <a href="views/home/signup">Sign up for an Account</a>
        <p>or</p>
        <a href="views/home/login">Log into your account</a>
    </div>
</div>