<div class="hero">
  <div class="jumbotron jumbotron-fluid">
      <h1 class="hero-title">Welcome to FlikPik</h1>
      <p>Deciding on a movie for movie night is hard. With so many options from over 100 years of cinema, everyone agreeing on one movie can be quite difficult. Our web application seeks to ease the experience of picking a movie, leaving more time for buying snacks. The way we aim to make movie selection easy by removing the largest obstacles to searching: large selection, unhelpful discussion, and the search for a “better” option.</p>
      <p>The way we remove these obstacles is by focusing the list of movies groups pick from. Each group will grow a watchlist based on the watchlists of individual users. Once the group watchlist is made the users can tighten by genre or watchtime.</p> <p>We also help the users choose by simplifying the question users ask themselves when seeing a movie, instead of asking the room “Does everyone want to watch this?” to an easier “Do I want to watch this?” which individuals can decide for themselves independently and quickly. Also, by taking the first movie agreed upon by the group, we remove possible indecision from between two or more choices everyone would watch.</p>
  </div>
  <footer class="hero-footer">
    <a class="button button-primary" href="/home/signup">Sign Up For An Account</a>
    <a class="button log-in-btn" href="/home/login">Log Into Your Accountt</a>
  </footer>
  <footer class="bg-light text-center text-lg-start fixed-bottom">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    FlikPik | CS 546 Spring 2021 | Created by Garrett Chestnut, Nick DiDio, Ronald Estevez, Reilly Fitzgerald, D'Antoine Newsome
  </div>
  <!-- Copyright -->
</footer>
        
</div>