<div class="hero">
    <div class="navbar">
        <h1 id="welcome">WELCOME TO FLIKPIK</h1>
        <a href="/signup">Signup for an Account</a>
        <p>or</p>
        <a href="/login">Log into your account</a>
    </div>
</div>