<div class="hero">
     <header class="hero-header">
    <h1 class="hero-title">Welcome to FlikPik</h1>
  </header>
  <footer class="hero-footer">
    <a class="button button-primary" href="/home/signup">Sign up for an Account</a>
    <a class="button" href="/home/login">Log into your account</a>
  </footer>
        {{!-- <h1 id="welcome">WELCOME TO FLIKPIK</h1>
        <a href="/home/signup">Sign up for an Account</a>
        <p>or</p>
        <a href="/home/login">Log into your account</a>
     --}}
</div>