<h1>Welcome {{user.firstName}}!</h1>
<h2>User Profile:</h2>
<div>
    <h3>Username: </h3>
    <p> {{user.username}}</p>
    <h3>First Name: </h3>
    <p> {{user.firstName}}</p>
    <h3>Last Name: </h3>
    <p> {{user.lastName}}</p>
</div>

<footer>
    <p><a href="/logout">LOGOUT</a></p>
    <a href = "/groups">Groups</a>
</footer>