<div class="container">
    <img src={{movie_image}} class="rounded mx-auto d-block" alt="{{movie_name}}">
    <p class="pull-left">
        <section class="pull-right">
            <h3 class="mv_name_card display-4">{{movie_name}}</h3>
            <small>({{release_year}})</small>
        </section>
        <section>
            ...
        </section>
        ...
        <div class="container">
            <!-- Yay or nay buttons -->
        </div>
    </p>
</div>