<div class="container">
    <img src={{movie_image}} class="rounded mx-auto d-block" alt="{{movie_name}}">
    <section class="pull-right">
            <h3 class="mv_name_card display-4">{{movie_name}}</h3>
            <small>({{release_year}})</small>
    </section>
    <section>
        ...
    </section>
    ...
    <div class="container">
        <!-- Yay or nay buttons -->
    </div>
    <p class="pull-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat tristique orci vitae tempus. Mauris pulvinar mauris non gravida interdum. Curabitur eu euismod mauris. Fusce sit amet est diam. Fusce laoreet sodales tellus, mattis tincidunt nibh suscipit ac. Pellentesque ornare neque sit amet tincidunt tincidunt. Quisque semper sed urna eu blandit. Aliquam vitae tortor auctor, rutrum justo non, commodo velit. Donec ac auctor risus. Aenean risus turpis, luctus ut ligula vel, aliquet euismod tortor. Phasellus nec egestas odio. 
    </p>
</div>