<p class="error"></p>
<form id="searchForm">
    <label for="search_term">Search for a show</label>
    <br>
    <input id="search_term" type="text">
    <button type="submit">Search</button>
</form>
<form id="randomButton">
    <button type="submit">Show me a RANDOM movie</button>
</form>
<ul id="showList" hidden></ul>
<div id="show" hidden></div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/wantToWatchList.js"></script>